.TodoListItem {
  display: flex;
  padding: 1rem;
  align-items: center;
  &:nth-child(even) {
    background: #f8f9fa;
  }
  .checkboxWrapper {
    display: flex;
    flex: 1;
    align-items: center;
    .checkbox {
      display: flex;
      cursor: pointer;
      align-items: center;
    }
    .text {
      display: flex;
      margin-left: 0.5rem;
      &.checked {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
    svg {
      font-size: 1.5rem;
    }
    // class 상태 변화를 이용한 view 변경
    &.checked {
      svg {
        color: #22b8cf;
      }
      .text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }

  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
    &:hover {
      color: #ff8787;
    }
  }
  // 엘리먼트 사이사이에 border top속성을 삽입해서 줄칸 만듦
  & + & {
    border-top: 1px solid #dee2e6;
  }
}
